ion-content{
    --background:rgb(201, 201, 201);
      ion-card{
          --background:rgb(255, 255, 255);
  
      }
    }
  
    .padding{
      margin-top: 100px !important; 
      margin-bottom: 100px !important; 
  
    }
  
  .break{
    top:50px;
  }
  
  .error{
    color: rgb(255, 0, 76);
    text-transform: lowercase;
    font-weight: 450;
    
  
  }
   
  .notify{
    text-align: center;
    text-transform: uppercase;
    color: #5576fb;
    font-weight: 450; 
   
   }
  
   .CakeSize{
     position: relative;
     display: block;
     align-content: center;
     width: 100%;
     text-align: center;
     font-weight: 500;
     .actualimage{
       position: relative;
      display: block;
      align-self: auto;
      max-width: 128px !important;
      max-height:128px !important;
      min-width: 128px !important;
      min-height:128px !important;
      left: calc(50% - 64px);
      border: 2px solid #5576fb83;
      border-radius: 95px;
      object-fit: cover;
  
     }
    
   }
    