<ion-header>
    <ion-toolbar  >
      <ion-title  color="primary">recipe creator</ion-title>
      <ion-buttons slot="end">
        <ion-button  [routerLink]="['/tabs']" >
          <ion-icon  color="primary" size="large" name="close-circle" ></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
   

  </ion-header>
  
  <ion-content>
    <!-- <ion-label>{{recipeImagevalue}}</ion-label> -->
    <!-- value:{{recipeGroup.value |json}}  -->
    <ion-card [formGroup]="recipeGroup">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
             <ion-label color="primary" style="width: 100%; text-transform: lowercase;
             font-weight: 600;">
               Recepie title
             </ion-label>
           
  
            </ion-item>
            
                  
              
  
          </ion-col>
          
          
          <ion-col size="12">
              <ion-item >
                  <ion-input placeholder="recipe title"  formControlName="title"> </ion-input>
              </ion-item>
              <ion-item *ngIf="RecipeTitle.invalid && RecipeTitle.touched" lines="none">
                
                <div class="error"  >please give a title to your recipe </div>
              </ion-item>
  
          </ion-col>
          <ion-col size="12">
              <ion-item lines="none"  >
                  
                  <ion-label color="primary" style="width: 100%; text-transform: lowercase;
                  font-weight: 600;"> ingredients </ion-label>
                </ion-item>
              </ion-col>
  
  
              <div formArrayName="ingredients" style="width: 100%">
              <ion-col size="12" ion-no-padding>
                <ion-item lines="inset"  *ngFor="let ingredient of IngredientsArray.controls; let i =index" [formGroupName]="i">
                
                    <ion-input placeholder=""  formControlName="ingredient"> {{i+1 }}. </ion-input>
                    <ion-icon button (click)="deleteIngredientsSchema(i)" slot="end" name="trash" color="primary"></ion-icon>
                    <br/>
                    
                
                  </ion-item>
                  <ion-col size="12" ion-no-padding>
                    <div class="error" *ngIf="IngredientsArray.invalid && IngredientsArray.touched" >please fill in the field </div>
    
                  </ion-col>
                  
                </ion-col>
               
              </div>
  
                <div  [hidden]="GService.isRecipeEditable" > 
                <ion-button   [disabled]="IngredientsArray.invalid"
                color="primary"
                 shape="round"
                 fill="outline"
                  (click)="AddIngredientsSchema()">
                  <ion-icon slot="start" name="add"  >
  
                  </ion-icon>
                  <ion-label style=" text-transform: lowercase;
                  font-weight: 500;
                  ">add</ion-label>
                </ion-button>
               </div> 

               <div [hidden]="!GService.isRecipeEditable" >
                  <ion-button  [disabled]="IngredientsArray.invalid"
                  color="primary"
                   shape="round"
                   fill="outline"
                    (click)="UpdateIngredientsSchema()">
                    <ion-icon slot="start" name="add" >
    
                    </ion-icon>
                    <ion-label style=" text-transform: lowercase;
                    font-weight: 500;
                    ">update</ion-label>
                  </ion-button>
                </div> 
  
         
  
          <ion-col size="12">
              <ion-item lines="none"  >
                  
                  <ion-label color="primary" style="width: 100%; text-transform: lowercase;
                  font-weight: 600;"> procedure </ion-label>
                </ion-item>
              </ion-col>
              <div formArrayName="procedure" style="width: 100%">
              <ion-col size="12" ion-no-padding >
                
                <ion-item lines="inset" *ngFor="let procedure of ProcedureArray.controls; let i =index" [formGroupName]="i" >
                      <ion-textarea placeholder="step. {{i+1}}"  formControlName="procedure">  </ion-textarea>
                       <ion-icon button (click)="deleteProcedureSchema(i)" slot="end" name="trash" color="primary"></ion-icon>
                    
                    </ion-item>
                    <ion-col size="12" ion-no-padding>
                      <div class="error" *ngIf="ProcedureArray.invalid && ProcedureArray.touched" >please fill in the field </div>
      
                    </ion-col>
                  </ion-col>
                  </div>
  
  
  
                  <ion-col size="12">

              <div [hidden]="GService.isRecipeEditable" >
                <ion-button  [disabled]="ProcedureArray.invalid" 
                color="primary"
                 shape="round" 
                 fill="outline"
                 (click)="AddProcedureSchema()">
                    <ion-icon slot="start" name="add" >
    
                    </ion-icon>
                    <ion-label style=" text-transform: lowercase;font-weight: 500;">add</ion-label>
                  </ion-button>
                 </div>

                 <div [hidden]="!GService.isRecipeEditable" >
                    <ion-button  [disabled]="ProcedureArray.invalid" 
                    color="primary"
                     shape="round" 
                     fill="outline"
                     (click)="UpdateProcedureSchema()">
                        <ion-icon slot="start" name="add" >
        
                        </ion-icon>
                        <ion-label style=" text-transform: lowercase;font-weight: 500;">update</ion-label>
                      </ion-button>
                     </div>



                </ion-col>
  
      <br class="padding"/>
      <br class="padding"/>
      <br class="padding"/>
  
      <!-- IMAGE VIEW -->
  <div class="CakeSize"  >
   <div *ngIf="ImageUrl.value === null || ImageUrl.value.trim().length===0">
      <img 
     class="actualimage"
      src= '/assets/icon/defaultCake.png' > 
   please select an image
  
   </div>
   <div *ngIf="ImageUrl.value !== null">
     <img class="actualimage" src="{{ImageUrl.value}}" >
     
   
  
   </div>
   
  </div> 
  <ion-col size="10" offset="1">
      <ion-button expand="block"
       shape="round"
        color="primary"
        fill="outline"
         (click)="launchActionSheet()"
         >
        <!-- (click)="presentActionSheet()" -->
  
         <ion-icon slot="start"  name="images"></ion-icon>
         <ion-label  style=" text-transform: lowercase;
         font-weight: 500;">
         Select image
        </ion-label>
        
        </ion-button>
    </ion-col>
  
      <br class="padding"/>
      <br class="padding"/>
      <br class="padding"/>
     <!-- enabled button -->
                <ion-col size="10" offset="1">
                  <ion-button expand="block"
                   shape="round"
                    color="primary"
                    fill="outline"
                     style=" text-transform: lowercase;font-weight: 500;"
                     (click)="SavePersonalRecipe(recipeGroup.value)"
                     [disabled]="recipeGroup.invalid || IngredientsArray.length===0 || ProcedureArray.length===0">
                     <ion-icon slot="start" name="download"></ion-icon>
                     <ion-label *ngIf="!GService.isRecipeEditable" >save</ion-label>
                     <ion-label *ngIf="GService.isRecipeEditable" >update</ion-label>
                    </ion-button>
                </ion-col>

                <ion-col *ngIf="GService.isRecipeEditable" size="10" offset="1">
                  <ion-button expand="block"
                   shape="round"
                   fill="outline"
                    color="danger"
                     style=" text-transform: lowercase;font-weight: 500;"
                    (click)="DeleteRecipe()"
                     >
                     <ion-icon slot="start" name="trash"></ion-icon>
                     <ion-label>delete</ion-label>
                    </ion-button>
                </ion-col>
  
        </ion-row>
  
      </ion-grid>
       
  
    </ion-card>
  
    
    
  
  </ion-content>
  