<ion-header hidenav-header >
    <ion-toolbar style="text-align: center; --background:#0cd2e8;color:white">
    
            <div class="maxsize">
                <img class="radius" [src]="RecipeView.imageUrl">
                
                     </div> 
        
       
      <ion-label style="font-weight: 300;font-size: 24px">{{RecipeView.title}}</ion-label>
          
    </ion-toolbar>
    
     
</ion-header>


        
       
<ion-content hidenav-content  >
    
<ion-card>
  
    <!-- <img class="imageSizeMax" [src]="RecipeView.imageUrl"> -->
  
   <!-- <div [hidden]="IsActive"> -->
    <ion-card-title text-center style="color:#0cd2e8; text-decoration: underline;">
      <strong>
        ingredients
    </strong>  
  </ion-card-title>
  
    <ion-list>
    <ion-item *ngFor="let ingredients of RecipeView.ingredients; let i=index" style="font-weight: 300;" >
     {{i+1}}. {{ingredients}}
    </ion-item>
  </ion-list>
 <!-- </div> -->
 <!-- <div [hidden]="!IsActive"> -->
  <ion-card-title text-center style="color:#0cd2e8; text-decoration: underline;">
    <strong>
      procedure
  </strong>  
</ion-card-title>
  
  <ion-list>
  <ion-item *ngFor="let procedure of RecipeView.Methodology; let i=index" style="font-weight: 300;">
   {{i+1}} - {{procedure}}
  </ion-item>
</ion-list>
<!-- </div> -->
</ion-card>
<br class="break">
<br class="break">
<br class="break">
<br class="break">



</ion-content>
<div class="setpos">
    <ion-row>
        <ion-col size="8" offset="2">
            <ion-button 
      shape="round" 
      
      
      color="primary"
      expand="block" 
      (click)="dismissModal()">
      <ion-label style="color:white;text-transform: lowercase;">
        close recipe
      </ion-label>
    </ion-button>
        </ion-col>
      </ion-row>

</div>

    
 

