<ion-toolbar color="primary">
  

<ion-segment  class="ion-no-margin" class="ion-no-padding" >
  <ion-segment-button checked color="primary">
    <ion-icon name="cart"></ion-icon>
    <ion-label style="text-transform: lowercase">active orders</ion-label>
  </ion-segment-button>
  <ion-segment-button>
      <ion-icon name="archive"></ion-icon>
    <ion-label style="text-transform: lowercase">archived orders</ion-label>
  </ion-segment-button>
</ion-segment>
</ion-toolbar>

<ion-content>


      <ion-card *ngFor="let order of OrdersManager.ActiveOrdersArray"  >
        <ion-card-header class="ion-no-padding" class="ion-no-margin">
           
            <ion-card-title color="primary" style=" text-transform: lowercase;font-weight: 500;width: 100%;">  {{order.cakeType }}</ion-card-title>
       

          
         
        </ion-card-header>
        <ion-card-content class="ion-no-padding" class="ion-no-margin">
            <ion-label color="primary"  style=" text-transform: lowercase;font-weight: 450;width: 100%">delivery date: </ion-label> <br>
            <ion-label color="dark" style=" text-transform: lowercase;font-weight: 400;width: 100%"> {{order.deliveryDate | date:'fullDate'}} </ion-label><br>
            <ion-row class="ion-no-padding" class="ion-no-margin" >
                <ion-col size="8" offset="2" class="ion-no-padding" class="ion-no-margin" >
                    <ion-button  (click)="viewOrder(order.orderdate)"
                      style=" text-transform: lowercase;font-weight: 350;width: 100%" color="primary" expand="full" fill="solid" shape="round">
                      
                      
                        <ion-label> view details </ion-label>
                      </ion-button>
                </ion-col>
              </ion-row>
          
        </ion-card-content>
        
       
      </ion-card>

   
   
      <br class="breakpoint">
      <br class="breakpoint">
      <br class="breakpoint">
      <br class="breakpoint">
      <br class="breakpoint">
</ion-content>

<ion-fab  vertical="bottom" horizontal="end" slot="fixed" size="large">
    <ion-fab-button color="primary" (click)="OrderCreationPage(false)">
      
      <ion-icon  name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

