<ion-toolbar  color="primary" >
  <ion-segment   >
      <!-- layout style layout="icon-start" -->
       <ion-segment-button [checked]="Tabs === 'notifications'"   (click)="tabSwitch('notifications')">
         
         <ion-icon name="notifications"> 
           
         </ion-icon>
        
         
                
          
          
         <ion-label style=" text-transform: lowercase;">notifications</ion-label>

          
       
        
         
           

         
       </ion-segment-button>

<!-- layout="icon-start" buttons in layout -->
       <ion-segment-button [checked]="Tabs === 'profile'"  (click)="tabSwitch('profile')">
         <ion-icon name="person"></ion-icon>
         <ion-label style=" text-transform: lowercase;">my profile</ion-label>
       </ion-segment-button>

     </ion-segment> 
    
   </ion-toolbar>

<ion-content>

  <!-- todo notification section -->
  <div *ngIf="Tabs === 'notifications'">

    
    
    </div>

  <!-- todo my profile section -->
  <div *ngIf="Tabs === 'profile'" >

  
    
     <div *ngIf=" FireBaseManager.FacebookloginState === true"  >
  
    <br>
    <br>


      <ion-card  >
          <ion-item>
              <ion-thumbnail slot="start" style="width: 92px;height: 92px; max-width: 92px;max-height: 92px;">
                <img src="{{FireBaseManager.ReturnedUser.photoURL}}" style="border-radius: 15%;">
              </ion-thumbnail>
              <ion-label>
                  
                  <ion-label color="dark" class="ion-text-center">
                    <h2>
                        {{FireBaseManager.ReturnedUser.displayName}}
                    </h2> </ion-label>
               
                
              </ion-label>
              
            </ion-item>
            <br>
       <ion-card-header>
            
                <ion-card-subtitle color="primary">Phone number</ion-card-subtitle>
                <br>

                <ion-card-subtitle color="dark">0{{FireBaseManager.ReturnedUser.phone}}</ion-card-subtitle>
                <br>

                <ion-card-subtitle color="primary">Bio</ion-card-subtitle>
                <br>

                <ion-card-subtitle color="dark">
                  <p *ngIf="FireBaseManager.ReturnedUser.bio !==''">
                 {{FireBaseManager.ReturnedUser.bio}} 
                  </p>

                  <p *ngIf="FireBaseManager.ReturnedUser.bio ===''">
                      please update your baking bio information ...
                       </p>
                </ion-card-subtitle>
        
       </ion-card-header>
       <ion-grid fixed>

       <ion-row>
          <ion-col size="8" offset="2" >
              <ion-button (click)="EditProfile()" fill="solid" shape="round" expand="full">
                <ion-icon slot="start" name="contact"></ion-icon>
                  <ion-label>Edit profile</ion-label>
                </ion-button>
          </ion-col>
           
         
          <ion-col size="8" offset="2" >
              <ion-button (click)="logout()" fill="solid" shape="round" expand="full">
                 
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                  <ion-label> Log out</ion-label>
                </ion-button>
          </ion-col>

        
        </ion-row>
      </ion-grid>
          
              </ion-card>
     </div>
        
   
     
    <div *ngIf="FireBaseManager.FacebookloginState === false " >
       
  
            <ion-card style="position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%)!important;">
              <ion-card-header>
                <ion-title class="ion-text-center">PLEASE LOGIN <br> TO VIEW PROFILE</ion-title>
             </ion-card-header>
             <ion-row>
               <ion-col size="10" offset="1">
                 <ion-button (click)="Login()" fill="solid" shape="round" expand="full">
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    <ion-label>  login</ion-label>
                 </ion-button>
               </ion-col>
             </ion-row>
                
                    </ion-card>

                 
                    </div>

     
          </div >
   
             

       
             

           

     


  

</ion-content>
