<ion-toolbar  color="primary" >
  <ion-segment   >
      <!-- layout style layout="icon-start" -->
       <ion-segment-button [checked]="Tabs === 'notifications'"   (click)="tabSwitch('notifications')">
         
         <ion-icon name="notifications"> 
           
         </ion-icon>
        
         
                
          
          
         <ion-label style=" text-transform: lowercase;">notifications</ion-label>

          
       
        
         
           

         
       </ion-segment-button>

<!-- layout="icon-start" buttons in layout -->
       <ion-segment-button [checked]="Tabs === 'profile'"  (click)="tabSwitch('profile')">
         <ion-icon name="person"></ion-icon>
         <ion-label style=" text-transform: lowercase;">my profile</ion-label>
       </ion-segment-button>

     </ion-segment> 
    
   </ion-toolbar>

<ion-content>

  <!-- todo notification section -->
  <div *ngIf="Tabs === 'notifications'">

    
    
    </div>

  <!-- todo my profile section -->
  <div *ngIf="Tabs === 'profile'">

  
     <div *ngIf="LoggedIn === true"  >
  
      <ion-card>
          <ion-item>
              <ion-thumbnail slot="start" style="width: 92px;height: 92px; max-width: 92px;max-height: 92px;">
                <img src="{{ReturnedUser.photoURL}}" style="border-radius: 15%;">
              </ion-thumbnail>
              <ion-label>
                  
                  <ion-label color="dark" class="ion-text-center">
                    <h2>
                        {{ReturnedUser.displayName}}
                    </h2> </ion-label>
               
                
              </ion-label>
              
            </ion-item>
            <br>
       <ion-card-header>
            
                <ion-card-subtitle color="primary">Phone number</ion-card-subtitle>
                <br>

                <ion-card-subtitle>0{{ReturnedUser.phone}}</ion-card-subtitle>
                <br>

                <ion-card-subtitle color="primary">Bio</ion-card-subtitle>
                <br>

                <ion-card-subtitle>
                  <p >
                      {{ReturnedUser.Bio}}
                  </p>
                </ion-card-subtitle>
        
       </ion-card-header>
       <ion-grid fixed>

       <ion-row>
           
         
          <ion-col size="10" offset="1" [hidden] = "ReturnedUser.Uid === 'SampleUser'">
              <ion-button (click)="logout()" fill="solid" shape="round" expand="full">
                  Log out
                </ion-button>
          </ion-col>

          <ion-col size="10" offset="1" [hidden] = "ReturnedUser.Uid !== 'SampleUser'">
              <ion-button (click)="Login()" fill="solid" shape="round" expand="full">
                 <ion-icon slot="start" name="logo-facebook"></ion-icon>
                 <ion-label> facebook login</ion-label>
              </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
          
              </ion-card>
     </div>
           
     <div *ngIf="LoggedIn === false"  >
  
        <ion-card style="position: relative; top: 50%;transform: translate(0%,50%);">
          <ion-card-header>
            <ion-title class="ion-text-center">PLEASE LOGIN <br> TO VIEW PROFILE</ion-title>
         </ion-card-header>
         <ion-row>
           <ion-col size="10" offset="1">
             <ion-button (click)="Login()" fill="solid" shape="round" expand="full">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                <ion-label> facebook login</ion-label>
             </ion-button>
           </ion-col>
         </ion-row>
            
                </ion-card>
       </div>
             

             

              <!-- <ion-card>
                <ion-card-content>
                  {{FireBaseManager.ReturnedUser.Bio}}
                </ion-card-content>
              </ion-card> -->

     
  </div>

  

</ion-content>
