<ion-toolbar color="primary"  >
  <ion-segment   >
 
       <ion-segment-button [checked]="true" >
         
         <ion-icon name="notifications"> 
           
         </ion-icon>
        
         
                
          
          
         <ion-label style=" text-transform: lowercase;"><strong>11</strong> notifications</ion-label>

          
       
        
         
           

         
       </ion-segment-button>


       <ion-segment-button >
         <ion-icon name="person"></ion-icon>
         <ion-label style=" text-transform: lowercase;">my profile</ion-label>
       </ion-segment-button>

     </ion-segment> 
    
   </ion-toolbar>

<ion-content>

</ion-content>
