ion-content{
    --background:rgb(201, 201, 201);
    ion-card{
      --background:rgb(255, 255, 255);
  
    }

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        border-radius: 15px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background: #5576FB;
        color: white;
        font-family:roboto,Arial, Helvetica, sans-serif;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
        
  }

}