<ion-header>
  <ion-toolbar color="primary">
    <ion-title >ORDER DETAILS</ion-title>
    <ion-buttons slot="end">
      <!-- [routerLink]="['/tabs/tab5']" -->
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- * ION CARD CLIENT DETAIL -->
<ion-card>
  <ion-card-header>
    <ion-card-title color="primary">Client info:</ion-card-title>
    <ion-card-subtitle color="dark">name: {{viewOrder.Clientname}}</ion-card-subtitle>
    <ion-card-subtitle  color="dark">number: 0{{viewOrder.Clientcontacts}}</ion-card-subtitle>
    <ion-card-subtitle  color="dark">email: {{viewOrder.Clientemail}}</ion-card-subtitle>

  </ion-card-header>

</ion-card>
 <!-- * ION CARD DELIVERY DATE DETAIL -->
 <ion-card>
    <ion-card-header>
        <ion-card-title color="primary">Delivery date:</ion-card-title>
      <ion-card-subtitle  color="dark">{{viewOrder.deliveryDate | date:'medium'}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>

 <!-- * ION CARD CAKE DETAIL -->
 <ion-card>
    <ion-card-header>
        <ion-card-title   color="primary">Cake details:</ion-card-title>
      <ion-card-subtitle  color="dark"> FLAVOUR:{{viewOrder.cakeType}}</ion-card-subtitle>
      <ion-card-subtitle  color="dark"> COLOR: {{viewOrder.cakeColor}}</ion-card-subtitle>
      <ion-card-subtitle  color="dark"> SHAPE: {{viewOrder.Cakeshape}}</ion-card-subtitle>
      <ion-card-subtitle  color="dark"> WEIGHT: {{viewOrder.Cakeweight}} kg(s)</ion-card-subtitle>
      <ion-card-subtitle  color="dark"> ORDER(S) : {{viewOrder.NumberOfCakes}} </ion-card-subtitle>
      <ion-card-subtitle  color="dark"> INSCRIPTION:
         
        <p>
            {{viewOrder.CakeInscription}}
        </p> 
      </ion-card-subtitle> 
      <ion-card-subtitle color="dark">SPECIAL INSTRUCTION: </ion-card-subtitle> 
      <p style="color: #222428">
          {{viewOrder.SpecialInstruction}}
      </p>

    </ion-card-header>
   
  
  </ion-card>

   <!-- * ION CARD PAYMENT DETAIL -->
<ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Payment info:</ion-card-title>
      <ion-card-subtitle  color="dark">DEPOSIT: {{viewOrder.deposit}}</ion-card-subtitle>
      <ion-card-subtitle  color="dark">BALANCE: {{viewOrder.balance}}</ion-card-subtitle>
      <ion-card-subtitle  color="dark">TOTAL COST: {{viewOrder.totalcost}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>


  

    <ion-row class="ion-no-margin" class="ion-no-padding">
    
  
         <ion-col offset="3" size="6" class="ion-no-margin" class="ion-no-padding">
            <ion-button fill="solid"
                        shape="round" 
                        expand="block"
                        color="primary"
                        (click)="launchActionSheet()"
                        >
                        <ion-icon slot="start" name="more"></ion-icon>
                <ion-label style="text-transform: lowercase">Actions</ion-label>
              </ion-button>
              
        </ion-col> 
        
      
      
         
      
        
      </ion-row>
      <br>
     

</ion-content>
