

    <!-- * CATEGORY SAEGMENT BUTTONS -->
    <!-- <ion-row   [hidden]="SearchBarActive" class="ion-no-margin" class="ion-no-padding" >


      <ion-col offset="1"  size="10" class="ion-no-margin" class="ion-no-padding">
          <ion-segment  >


              <ion-segment-button (click)="filterSubject(1)" checked>
                  <ion-icon name="locate"></ion-icon>

                <ion-label style=" text-transform: lowercase;">Bakers</ion-label>
              </ion-segment-button>
               icon position start layout="icon-start" 
              <ion-segment-button (click)="filterSubject(2)">
                  <ion-icon name="pin"></ion-icon>
                <ion-label style=" text-transform: lowercase;">Shops</ion-label>
              </ion-segment-button>
              <ion-segment-button (click)="filterSubject(3)">
                  <ion-icon name="compass"></ion-icon>
                 <ion-label style=" text-transform: lowercase;"> jobs</ion-label>
               </ion-segment-button>
               <ion-segment-button (click)="SearchBar()">
                  <ion-icon name="search"></ion-icon>
                 <ion-label style=" text-transform: lowercase;"> search</ion-label>
               </ion-segment-button>
            </ion-segment>

      </ion-col>
      <ion-col size="2" >
        <ion-icon name="search" size="large" class="searchIconposition"></ion-icon>

      </ion-col> 

    </ion-row> -->


    <!-- * SEARCH BAR COMPONENT -->
    <ion-toolbar color="primary">
     
    <ion-row class="ion-no-margin" class="ion-no-padding" color="primary">
        <ion-col  size="12 " class="ion-no-margin" class="ion-no-padding" [hidden]="!IsSearchBarVisible">
          <ion-searchbar   [placeholder]="filter"  [debounce]="250"></ion-searchbar>

        </ion-col>


        <ion-col  offset="1"  size="10" class="ion-no-margin" class="ion-no-padding">
            <ion-segment  >


                <ion-segment-button (click)="filterSubject(1)" checked>
                  <ion-label style=" text-transform: lowercase;">Bakers</ion-label>
                </ion-segment-button>
                <!-- icon position start layout="icon-start"  -->
                <ion-segment-button (click)="filterSubject(2)">

                  <ion-label style=" text-transform: lowercase;">Shops</ion-label>
                </ion-segment-button>
                <ion-segment-button (click)="filterSubject(3)">

                   <ion-label style=" text-transform: lowercase;"> jobs</ion-label>
                 </ion-segment-button>
                
                 
                 
                 

              </ion-segment>

        </ion-col>
       
         <!-- <ion-col class="ion-no-margin" class="ion-no-padding" size="2" (click)="SearchBar()">
          <ion-icon name="close-circle" color="primary" size="large" class="searchIconposition"></ion-icon>

        </ion-col> -->

      </ion-row>

    </ion-toolbar>















 






<ion-content   [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()"  >


   <!-- TODO BAKERS LISTING SECTION -->
   <div [hidden]="filter !== 'bakers near you'">
      <ion-card *ngFor="let Baker of FireBaseService.BakersListing; let i = index"   class="ion-padding">
        
          <ion-card-title color="primary"><strong>
              {{Baker.BakerName}}

          </strong>
        </ion-card-title>
        
        <ion-icon name="pin"></ion-icon> 
        <ion-label color="dark"> <strong>location :{{Baker.BakerLocation}}</strong> </ion-label> <br>
          <ion-card-subtitle><strong style="color: #4b68dd">Description: </strong> 
            <p class="deswrapper">
                {{Baker.BakerDescription}}
            </p>

          </ion-card-subtitle >
          <ion-button  fill="solid" shape="round" (click)="viewBakerListing(i)">
              <ion-label style="text-transform: lowercase; width:100%; text-align: center">view Baker</ion-label>
          </ion-button>
            
             
        
       
      
        
      </ion-card>


      
    </div>
    
   
   
    <!-- TODO SHOPS LISTING SECTION -->
    <div [hidden]="filter !== 'accessories shops near you'">
      <ion-label class="ion-text-justify">shops view</ion-label>
    </div>

     <!-- TODO BAKING JOBS LISTING SECTION -->
     <div [hidden]="filter !== 'baking jobs near you'">
        <!-- <ion-label>array is not empty</ion-label> -->
        <!-- {{localitems | json}} -->
        <ion-card class="ion-padding" *ngFor="let Job of FireBaseService.BakingJobs; let i = index" >
          
          <ion-card-title color="primary"><strong>
              {{Job.title}}
  
          </strong>
        </ion-card-title>
        <ion-icon color="primary" name="calendar"></ion-icon> 
        <ion-label color="dark"> delivery date :{{Job.deliveryDate | date:'shortDate'}}</ion-label> <br>
           <ion-card-subtitle>
             <strong style="color: #4b68dd">Description: </strong> 
            <p class="deswrapper">
              {{Job.jobDescription}}
            </p>
  
          </ion-card-subtitle >  
          <ion-button  fill="solid" shape="round" (click)="viewJobListing(i)">
              <ion-label style="text-transform: lowercase; width:100%; text-align: center">view Job</ion-label>
          </ion-button>
         
        
          
        </ion-card>
      </div>
   
    
    <br class="break"/>
    <br class="break"/>
    <br class="break"/>
    <br class="break"/>

    <!-- <ion-fab  vertical="bottom" horizontal="end" slot="fixed" size="large">
      <ion-fab-button color="primary"  [routerLink]="['/advert-creation-modal']" >

        <ion-icon name="add" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->


</ion-content >




<div class="setpos" >
    <ion-row>
        <ion-col size="6" offset="3">
            <ion-button
      shape="round"
      color="primary"
      expand="block"
      [routerLink]="['/advert-creation-modal']" 
      >
      <ion-icon slot="start" name="images"></ion-icon>
      <ion-label style="color:white;text-transform: lowercase;">
        create ad
      </ion-label>
    </ion-button>
        </ion-col>
      </ion-row>

</div> 


