ion-content{
  --background:rgb(201, 201, 201);
  ion-card{
    --background:rgb(255, 255, 255);

  }
}
.setpos{
  position: absolute;
  bottom:1%;
  width: 100%;
  

}

.break{
  margin: 10px 0px;
}
