      
      <!-- <ion-header > -->
        <!-- hidenav-header  -->
        <ion-toolbar color="primary"  >
       <ion-segment   >
      
            <ion-segment-button [checked]="IsActive"  (click)="StateToggler(true)">
              <ion-icon name="filing"> </ion-icon>
              <ion-label style=" text-transform: lowercase;">recipes</ion-label>
            </ion-segment-button>
            <ion-segment-button  [checked]="!IsActive" (click)="StateToggler(false)">
              <ion-icon name="bookmarks"></ion-icon>
              <ion-label style=" text-transform: lowercase;">my recipes</ion-label>
            </ion-segment-button>

          </ion-segment> 
         
        </ion-toolbar>
        <!-- </ion-header> -->





<ion-content  >
  <!--  #scrollArea scrollEvents="true"  hidenav-content -->

  <div [hidden]="Tab1"  class="Expand">

    <ion-card   *ngFor="let recipes of GService.AppRecipies"   >

  <ion-item lines="none" >
      <div class="imageSizeMax">
          <img class="border" [src]="recipes.imageUrl">
        </div>

        
      <ion-row>
          <div style="width: 128px;margin-left:calc(50% - 64px)">
        <ion-col size="12">
            <ion-label text-center  style="color:#5576fb;font-weight: 400">{{recipes.title}}</ion-label>
        </ion-col>
      </div>
        <ion-col size="12">
            <ion-button color="primary" shape="round" expand="block" (click)="ViewRecepie(recipes.title,false)" style=" text-transform: lowercase;font-weight: 300;" >view recipe </ion-button>
          </ion-col>
      </ion-row>
        
      </ion-item>


 
     
    </ion-card>

  </div>

  <div [hidden]="Tab2" class="Expand">
    <div *ngIf="GService.personalRecipies && GService.personalRecipies.length===0"  class="notes">
        add your Recepies
    </div>
    <div >
      <ion-card   *ngFor="let recipes of GService.personalRecipies"   >

        <ion-item lines="none" >
            <div class="imageSizeMax">
              <img *ngIf="recipes.imageUrl !==null"  class="border" src="{{recipes.imageUrl}}" >
              
              <img *ngIf="recipes.imageUrl === null" class="borderCircle" src="/assets/icon/defaultCake.png">
              </div>
      
              
            <ion-row>
                <div style="width: 128px;margin-left:calc(50% - 64px)">
              <ion-col size="12" >
                
                  <ion-label text-center  style="color:#5576fb;font-weight: 400;width: 100%">{{recipes.title}}</ion-label>

                
              </ion-col>
            </div>
            <ion-col size="4" >
              <ion-button color="primary" 
              shape="round" expand="block" 
               style=" text-transform: lowercase;font-weight: 300;width: 100%"
               (click)="EditPersonalRecepie(recipes.title,true)"
                >
                edit  </ion-button>
            </ion-col>
              <ion-col size="8">
                  <ion-button color="primary" 
                  shape="round" expand="block" 
                   style=" text-transform: lowercase;font-weight: 300;width: 100%"
                   (click)="ViewPersonalRecepie(recipes.title,true)"
                    >
                

                    view
                     
                   </ion-button>
                </ion-col>
             
            </ion-row>
              
            </ion-item>
      
      
       
           
          </ion-card>

    </div>

  
  </div> 

    <br class="padding"/>
    <br class="padding"/>
    
    
    
    
    <ion-fab [hidden]="Tab2" vertical="bottom" horizontal="end" slot="fixed" size="large">
        <ion-fab-button color="primary" (click)="NewRecipeForm(false)">
          
          <ion-icon color="light" name="add" size="128"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
         

</ion-content>

