<ion-header [hidden]="ProceedToSelected ===''">
  <ion-toolbar color="primary" >
    <ion-title >create your posting</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/tab2']" >
        <ion-icon size="large" name="close-circle"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="selection" [hidden]="ProceedToSelected !==''"  >
 

        <ion-list>
            <ion-radio-group >
              <ion-list-header>
                <ion-label color="primary" >Select type of ad you want to create</ion-label>
              </ion-list-header>
          
              <ion-item lines="none" (click)="SelectedAd('Baker')"  >
                <ion-label>Baker's Listing</ion-label>
                <ion-radio slot="start" value="Baker"  [checked]="checked1"></ion-radio>
              </ion-item>
          
              <ion-item lines="none" (click)="SelectedAd('Shop')" >
                <ion-label>Accessories Shop Listing</ion-label>
                <ion-radio slot="start" value="Shop" [checked]="checked2"></ion-radio>
              </ion-item>
          
              <ion-item lines="none" (click)="SelectedAd('Job')" >
                <ion-label>Jobs Listings</ion-label>
                <ion-radio slot="start" value="Job" [checked]="checked3" ></ion-radio>
              </ion-item>
            </ion-radio-group>
            
          </ion-list>
    
          <ion-row>
              <ion-col size="6" offset="3">
    
                  <ion-button expand="block" fill="solid" shape="round" [disabled]="SelectedAdtype===''" (click)="Next()">
                      next
                    </ion-button>
        
                
              </ion-col>
          
        </ion-row>
       </ion-card>
 
  
   <ion-row class="ion-no-margin" class="ion-no-padding">
      
     
      <ion-col size="12" [hidden]="ProceedToSelected ===''" >
 
         <ion-button color="warning" (click)="back()" fill="solid"  expand="block">
             
             <ion-label style="text-transform: lowercase">
               change advert type
             </ion-label>
             
            </ion-button>
         
            
      </ion-col>
     </ion-row>

   <ion-card color="primary">
      <ion-row>

   
   <ion-col size="12" [hidden]="ProceedToSelected ===''">
      <ion-title  class="ion-text-center" > {{SelectedAdtype}} advertisement   </ion-title>
     
   </ion-col>
  </ion-row>
 </ion-card>

    
 
   

    <div *ngIf="ProceedToSelected!==''">
<!-- 
   <div *ngIf="SelectedAdtype === 'Job'" >
      JOBS FORM VALUE:  {{JobFormData.value | json}}
   </div>  

   <div  *ngIf="SelectedAdtype === 'Shop'" > 
      json value {{ShopFormData.value | json}}
   </div> -->


      <!-- TODO: BAKERS LISTING CARD -->
    <ion-card [formGroup]="BakersFormData" [hidden]="SelectedAdtype!=='Baker'" >
        <ion-row>
            <ion-col size="10" offset="1">

      <!-- * BAKER NAME FORM CONTROL -->
     <ion-item>
       <ion-label position="floating">Baker Name <ion-text color="danger">*</ion-text></ion-label>
       <ion-input required formControlName="BakerName" type="text"></ion-input>
     </ion-item>

       <!-- * BAKER CONTACTS FORM CONTROL -->
       <ion-label position="inline" color="primary"> Shop contacts</ion-label>

    <br>
        <div formArrayName="BakerContacts">
     <ion-item lines="inset" *ngFor="let contact of BakerContactsArry.controls; let i = index" [formGroupName]="i" >

        <ion-input placeholder=""  formControlName="contact" type="number"> {{i+1 }}. </ion-input>
                    <ion-icon button (click)="DeleteBakerContact(i)" slot="end" name="remove-circle" color="danger"></ion-icon>
                    <br/>


    </ion-item>
    

  </div>
  <br>
  <ion-button (click)="BakerContactsListing()" fill="solid" shape="round" color="primary">
      <ion-icon slot="start" name="add"  >
  
        </ion-icon>
        <ion-label style=" text-transform: lowercase;
        font-weight: 500;
        ">add</ion-label>
  </ion-button> 
  <br>

        <!-- * BAKER EMAIL FORM CONTROL -->
     <ion-item>
      <ion-label position="floating">Baker Email <ion-text >(optional)</ion-text></ion-label>
      <ion-input required formControlName="BakerEmail" type="email"></ion-input>
    </ion-item>

      <!-- * BAKER LOCATION FORM CONTROL -->
      <ion-item>
        <ion-label position="floating">Baker Location <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="BakerLocation" type="text"></ion-input>
      </ion-item>

       <!-- * BAKER DESCRIPTION FORM CONTROL -->
       <ion-item>
          <ion-label position="floating">Baker Description <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea required formControlName="BakerDescription" type="text"></ion-textarea>
          
       </ion-item >
        <ion-item lines="none" *ngIf="BakerDescription.invalid && BakerDescription.touched">
          <p style="color: red" > minimum description is 50 charachters</p>
        </ion-item>

  <!-- * BAKER IMAGE FORM CONTROL -->
  <ion-item lines="none">
    <ion-col size="12" class="ion-no-padding" class="ion-no-margin">
        <ion-label color="primary" >Shop banner image </ion-label>
  
        <br>
        <div class="CakeSize">
        <img  class="actualimage"  *ngIf="storeimagelink === undefined"  src='/assets/icon/defaultCake.png' />
        <img  class="actualimage"  *ngIf="storeimagelink!== undefined"  [src]="storeimagelink" />
        </div>
        

        <!-- <ion-button (click)="launchActionSheet()"
        fill="solid" shape="round" color="primary" expand="block">
         <ion-icon slot="start" name="photos"  >
     
           </ion-icon>
           <ion-label style=" text-transform: lowercase;
           font-weight: 500;
           "> select image</ion-label> 

           
     </ion-button> -->
    

            <ion-label class="ion-text-center">
                
                      
              <label for="file-upload" class="custom-file-upload">
                   upload photo
              </label>
              <input id="file-upload" type="file" accept=".png,.jpg" (change)="ImageInput($event)"/>
           
            
          </ion-label>

    </ion-col>
   
   
   
    
 </ion-item >


        <br>


        <!--  TODO CAKE TYPE FORMARRAY -->
        <!-- * FORM ARRAY CAKE TYPES -->
    <ion-label position="inline" color="primary"> list of cakes you bake</ion-label>

    <br>
        <div formArrayName="BakerCakes">
     <ion-item lines="inset" *ngFor="let cake of BakerCakesArray.controls; let i = index" [formGroupName]="i" >

        <ion-input placeholder=""  formControlName="cake"> {{i+1 }}. </ion-input>
                    <ion-icon button (click)="DeleteBakerCakes(i)" slot="end" name="remove-circle" color="danger"></ion-icon>
                    <br/>


    </ion-item>
    

  </div>
  <br>
  <ion-button (click)="BakerCakeListing()" fill="solid" shape="round" color="primary">
      <ion-icon slot="start" name="add"  >
  
        </ion-icon>
        <ion-label style=" text-transform: lowercase;
        font-weight: 500;
        ">add</ion-label>
  </ion-button> 
  <br>
  <br><br>

</ion-col>
</ion-row>
 <ion-row>
  <ion-col size="6" offset="3">

      <ion-button expand="block" fill="solid" shape="round"
                  [disabled]="!BakersFormData.valid"  (click)="submitBakerFormvalue(BakersFormData.value)">
          submit
        </ion-button> 

    
  </ion-col>
</ion-row>
    
      </ion-card>
        



      
    


       <!-- TODO: SHOP LISTING CARD   -->
       <ion-card [formGroup]="ShopFormData" [hidden]= "SelectedAdtype!=='Shop'">
        <ion-row>
            <ion-col size="10" offset="1">

      <!-- * SHOP NAME FORM CONTROL -->
     <ion-item>
       <ion-label position="floating">Shop Name <ion-text color="danger">*</ion-text></ion-label>
       <ion-input required formControlName="ShopName" type="text"></ion-input>
     </ion-item>

       <!-- * SHOP CONTACTS FORM CONTROL -->
       <ion-item>
        <ion-label position="floating">Shop Contact(s)<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="ShopContacts" type="number"></ion-input>
      </ion-item>

        <!-- * EMAIL FORM CONTROL -->
     <ion-item>
      <ion-label position="floating">Shop Email <ion-text >(optional)</ion-text></ion-label>
      <ion-input required formControlName="ShopEmail" type="email"></ion-input>
    </ion-item>

      <!-- * SHOP LOCATION FORM CONTROL -->
      <ion-item>
        <ion-label position="floating">Shop Location <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="ShopLocation" type="text"></ion-input>
      </ion-item>

       <!-- * SHOP DESCRIPTION FORM CONTROL -->
       <ion-item>
          <ion-label position="floating">Shop Description <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea required formControlName="ShopDescription" type="text"></ion-textarea>
          
       </ion-item >
        <ion-item lines="none" *ngIf="ShopDescription.invalid && ShopDescription.touched">
          <p style="color: red" > minimum description is 50 charachters</p>
        </ion-item>

  <!-- * SHOP IMAGE FORM CONTROL -->
  <ion-item lines="none">
    <ion-col size="12" class="ion-no-padding" class="ion-no-margin">
        <ion-label color="primary" >Shop banner image </ion-label>
  
        <br>
        <div class="CakeSize">
        <img  class="actualimage"  *ngIf="ShopImageUrl.value === null"  src='/assets/icon/defaultCake.png' />
        <img  class="actualimage"  *ngIf="ShopImageUrl.value !== null"  [src]="ShopImageUrl.value" />
        </div>
        

        <!-- <ion-button (click)="launchActionSheet()"
        fill="solid" shape="round" color="primary" expand="block">
         <ion-icon slot="start" name="photos"  >
     
           </ion-icon>
           <ion-label style=" text-transform: lowercase;
           font-weight: 500;
           "> select image</ion-label>
     </ion-button>  -->

     <input type="file" id="file" class="inputfile" multiple (change)="ImageInput($event)"/>
            <label for="file" class="btn-1">upload photos </label>
      
    </ion-col>
   
   
   
    
 </ion-item >


        <br>


        <!--  TODO CAKE TYPE FORMARRAY -->
        <!-- * FORM ARRAY CAKE TYPES -->
    <ion-label position="inline" color="primary"> list of cakes you bake <ion-text color="danger">
      *
    </ion-text> </ion-label>

    <br>
        <div formArrayName="CakeTypes">
     <ion-item lines="inset" *ngFor="let cake of CakeTypesArray.controls; let i = index" [formGroupName]="i" >

        <ion-input placeholder=""  formControlName="cake"> {{i+1 }}. </ion-input>
                    <ion-icon button (click)="deleteShopCake(i)" slot="end" name="remove-circle" color="danger"></ion-icon>
                    <br/>


    </ion-item>
    

  </div>
  <br>
  <ion-button (click)="AddShopCakeListing()" fill="solid" shape="round" color="primary">
      <ion-icon slot="start" name="add"  >
  
        </ion-icon>
        <ion-label style=" text-transform: lowercase;
        font-weight: 500;
        ">add</ion-label>
  </ion-button> 
  <br>
  <br><br>

    <!--  TODO ACCESSORIES FORM ARRAY -->
     <!-- * FORM ARRAY ACCESSORIES -->
    <ion-label position="inline" color="primary"> list of accesories you sell  
      <ion-text color="danger">  *
      </ion-text></ion-label>
    <div formArrayName="AccesoriesListing">
        <ion-item lines="inset" *ngFor="let accessory of AccesoriesListingArray.controls; let i = index" [formGroupName]="i" >
   
           <ion-input placeholder=""  formControlName="accesory"> {{i+1 }}. </ion-input>
                       <ion-icon button (click)="deleteAccesories(i)" slot="end" name="remove-circle" color="danger"></ion-icon>
                       <br/>
   
   
       </ion-item>
   
   
     </div>
     <ion-button (click)="AddAccesoriesListing()" fill="solid" shape="round" color="primary">
         <ion-icon slot="start" name="add"  >
     
           </ion-icon>
           <ion-label style=" text-transform: lowercase;
           font-weight: 500;
           ">add</ion-label>
     </ion-button>

    

   

 
</ion-col>
</ion-row>
 <ion-row>
  <ion-col size="6" offset="3">

      <ion-button expand="block" fill="solid" shape="round"
                  [disabled]="!ShopFormData.valid" (click)="submitShopFormvalue(ShopFormData.value)" >
          submit
        </ion-button> 

    
  </ion-col>
</ion-row>
    
      </ion-card>


         <!-- TODO: JOB LISTING CARD -->
      <ion-card [formGroup]="JobFormData" [hidden]="SelectedAdtype!=='Job'">
          <ion-row>
              <ion-col size="10" offset="1">
  
        <!-- * JOB TITLE AND FORM CONTROL -->
       <ion-item>
         <ion-label position="floating">Job title <ion-text color="danger">*</ion-text></ion-label>
         <ion-input required formControlName="title" type="text"></ion-input>
       </ion-item>
  
         <!-- * JOB OWNER AND FORM CONTROL -->
         <ion-item>
          <ion-label position="floating">your name<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="orderOwnerName" type="text"></ion-input>
        </ion-item>
  
          <!-- * OWNER CONTACTS AND FORM CONTROL -->
       <ion-item>
        <ion-label position="floating">your contacts <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="orderOwnerNameContacts" type="number"></ion-input>
      </ion-item>
  
        <!-- * CAKE TYPE FORM CONTROL -->
        <ion-item>
          <ion-label position="floating">Cake Type <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="cakeType" type="text"></ion-input>
        </ion-item>
  
          <!-- * CAKE WEIGHT FORM CONTROL -->
       <ion-item>
        <ion-label position="floating">Cake Weight<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="cakeweight" type="number"></ion-input>
      </ion-item>
  
       <!-- * NUMBER OF CAKES FORM CONTROL -->
       <ion-item>
        <ion-label position="floating">How many cakes would you want to order ?<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="numberOfCakes" type="number"></ion-input>
      </ion-item>
  
       <!-- * JOB DESCRIPTION FORM CONTROL -->
       <ion-item>
        <ion-label position="floating">Job description<ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea required formControlName="jobDescription" type="text"></ion-textarea>
      </ion-item>
  
   <!-- * DELIVERY DATE FORM CONTROL -->
   <ion-item>
     <ion-label position="stacked"> Delivery date </ion-label>
     <ion-datetime formControlName="deliveryDate" placeholder="delivery date"></ion-datetime>
   </ion-item>
  </ion-col>
  </ion-row>
   <ion-row>
    <ion-col size="6" offset="3">
  
        <ion-button expand="block" fill="solid" shape="round"
                    [disabled]="!JobFormData.valid" (click)="submitJobsFormvalue(JobFormData.value)">
            submit
          </ion-button> 
  
      
    </ion-col>
  </ion-row>
      
        </ion-card>
      </div>

    </ion-content>

