<ion-header>
  <ion-toolbar color="primary" >
    <ion-title >create your posting</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/tab2']" (click)="back()">
        <ion-icon size="large" name="close-circle"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

    <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label color="primary" >Select type of ad you want to create</ion-label>
          </ion-list-header>
      
          <ion-item lines="none" (click)="SelectedAd('Baker')"  >
            <ion-label>Baker's Listing</ion-label>
            <ion-radio slot="start" value="Baker" ></ion-radio>
          </ion-item>
      
          <ion-item lines="none" (click)="SelectedAd('Shop')" >
            <ion-label>Accessories Shop Listing</ion-label>
            <ion-radio slot="start" value="Shop" ></ion-radio>
          </ion-item>
      
          <ion-item lines="none" (click)="SelectedAd('Job')" >
            <ion-label>Jobs Listings</ion-label>
            <ion-radio slot="start" value="Job"  ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-row>
      <ion-col size="6" offset="3">

          <ion-button expand="block" fill="solid" shape="round" [disabled]="SelectedAdtype===''" (click)="Next()">
              next
            </ion-button>

        
      </ion-col>
    </ion-row>
   </ion-card>

    
 
   

    <div *ngIf="ProceedToSelected!==''">

    <ion-card [formGroup]="BakersFormData" [hidden]="SelectedAdtype!=='Baker'" >

      <p>
          Date: 2019-09-10T09:50:55.568Z - Hash: fe5a40de1a3e417a45bb - Time: 4717ms
          [ng] 192 unchanged chunks
          [ng] chunk Ads-advert-creation-modal-advert-creation-modal-module Ads-advert-creation-modal-advert-creation-modal-module.js, Ads-advert-creation-modal-advert-creation-modal-module.js.map (Ads-advert-creation-modal-advert-creation-modal-module) 9.51 kB  [rendered][ng] i ｢wdm｣: Compiled successfully.
          
      </p>
      
    </ion-card>
    <ion-card [formGroup]="ShopFormData" [hidden]= "SelectedAdtype!=='Shop'">
        <p>
            Date: 2019-09-10T09:50:55.568Z - Hash: fe5a40de1a3e417a45bb - Time: 4717ms
            [ng] 193 unchanged chunks
            [ng] chunk Ads-advert-creation-modal-advert-creation-modal-module Ads-advert-creation-modal-advert-creation-modal-module.js, Ads-advert-creation-modal-advert-creation-modal-module.js.map (Ads-advert-creation-modal-advert-creation-modal-module) 9.51 kB  [rendered][ng] i ｢wdm｣: Compiled successfully.
            
        </p>
      
      </ion-card>
      <ion-card [formGroup]="JobFormData" [hidden]="SelectedAdtype!=='Job'">
          <p>
              Date: 2019-09-10T09:50:55.568Z - Hash: fe5a40de1a3e417a45bb - Time: 4717ms
              [ng] 194 unchanged chunks
              [ng] chunk Ads-advert-creation-modal-advert-creation-modal-module Ads-advert-creation-modal-advert-creation-modal-module.js, Ads-advert-creation-modal-advert-creation-modal-module.js.map (Ads-advert-creation-modal-advert-creation-modal-module) 9.51 kB  [rendered][ng] i ｢wdm｣: Compiled successfully.
              
          </p>
      
        </ion-card>
      </div>

    </ion-content>

